<div class='user'>
  <div><%= user.name %></div>
</div>

<form action="/session/logout" method="post">
  <input type="Submit" value="logout"/>
</form>

<a href="/users/<%= user.id  %>/edit"> EDIT PROFILE</a>
<% if user.lists.count == 1 %>
    <form action="/users/<%= user.id %>/list/edit" method="post"/>
      <input type="hidden" name="_method" value="put"/>
      <input type="task" name="task[title]" placeholder="new task title&hellip;"/>
      <input type="task" name="task[description]" placeholder="new task description&hellip;"/>
      <input type="submit" value="Do it!"/>
    </form>
  <%= erb :'/lists/show', locals: {user: user, tasks: user.tasks} %>
<% else %>
  <p>Click <a href="/users/<%= user.id %>/lists/new">here</a> to create a new List!</p>

<% end %>
