<% if current_user %>
  <div class='user'>
    <div><%= user.name %></div>
  </div>

  <form action="/session/logout" method="post">
    <input type="Submit" value="logout"/>
  </form>

  <a href="/users/<%= user.id  %>/edit"> EDIT PROFILE</a>
<% end %>

<!-- CD: This self desctruct code is the job of the controller, you should
not be putting this type of logic in the view -->
<% if user.lists.count >= 1 && List.self_destruct(user.lists.first)%>
<!-- CD: Use length instead of count -->
    <form action="/users/<%= user.id %>/list/edit" method="post"/>
      <input type="hidden" name="_method" value="put"/>
      <input type="task" name="task[title]" placeholder="new task title&hellip;"/>
      <input type="task" name="task[description]" placeholder="new task description&hellip;"/>
      <input type="submit" value="Do it!"/>
    </form>
  <%= erb :'/lists/show', locals: {user: user, tasks: user.tasks} %>
<% else %>
  <p>Click <a href="/users/<%= user.id %>/lists/new">here</a> to create a new List!</p>
<% end %>
