<form action='/users/<%= user.id %>' method='post'>
  <input type='hidden' name='_method' value='put' />
  <input type='text' name='user[name]' value='<%=user.name %>' />
  <input type='email' name='user[email]'     value='<%=user.email %>'/>
  <input type='submit' value = 'Edit User'/ >
</form>

<form action='/users/<%= user.id %>' method='post'>
  <input type='hidden' name='_method' value='delete' />
  <input type='submit' value= 'Delete User' />
</form>




<a href="/users/<%= user.id  %>"> Back to my profile </a>
